body{
    // background-color: goldenrod;
    // background-image: url(/images/bck.jpg);
    // background-size: cover;
    background: #00aa77;
    background-image: url(/images/bck1.png), url(/images/bck2.png);
    background-repeat: repeat-x, repeat;
    #wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .page-heading{
            font-family: 'Noto Sans', sans-serif;
            color: white;
            h1{
                letter-spacing: 5px;
            }
        }

        .page-main{
            // background-color: #00aa77;
            background-color: white;
            border-radius: 10px;
            ::placeholder {
                color: black;
                font-size: 0.9em;
                opacity: 1; /* Firefox */
              }
            font-family: 'Roboto', sans-serif;
            width: 466px;
            box-shadow: 1px 1px 20px black;
            padding: 1em 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            label{
                font-size: 0.8rem;
                text-transform: uppercase;
            }
            button{
                background-image: linear-gradient(to right, #000000 0%, #e74c3c 51%, #000000 100%);
                position: absolute;
                height: 42px;
                width: 138px;
                font-size: 1em;
                color: white;
                background-size: 200%;
                border-radius: 10px;
                transition: all 250ms;
                border: none;
                outline: none;
            }
            button:hover{
                background-position: right center;
            }
            
            input, label{
                display: block;
            }
            #task-add-form{
                display: flex;
                flex-direction: column;
                .child{
                    margin: 5px 0;
                    border: 1px solid gray;
                    border-left: none;
                    border-right: none;
                    #task-description{
                        background: none;
                        border: none; 
                        width: 355px;
                        border-radius: 0 5px 5px 0;
                        font-size: 1em;
                        outline: none;
                        padding: 0.5rem 1rem;
                        // box-shadow: inset 2px 2px 15px goldenrod;
                    }
                    label{
                        padding-left: 1rem;
                        padding-top: 0.3rem;
                    }
                }
                .child2{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    border-bottom: 1px solid gray;
                    padding-bottom: 10px;
                    div{
                        padding-left: 1rem;
                    }
                    .task-category:after{
                        content: "";
                        border-left: 1px solid gray;
                        height: 51px;
                        top: 77px;
                        color: gray;
                        left: 230px;
                        position: absolute;
                    }
                    #task-select{
                        border: none;
                        outline: none;
                        width: 85%;
                        margin-left: -4px;
                    }
                    .task-due-date{
                        input{
                            border: none;
                            outline: none;
                        }
                    }
                }
                button{
                    top: 145px;
                    left: 80px;
                }
            }
            .button-section{
                height: 75px;
            }
            .show-tasks{
                button{
                    right: 80px;
                    top: 145px;
                    background-image: linear-gradient(to right, #000000 0%, #53346D 51%, #000000 100%);
                }
                ul{
                    padding: 0;
                    li{
                        display: grid;
                        grid-template-columns: 1fr 7fr 2fr;
                        box-sizing: border-box;
                        padding: 0.5em 1em;
                        .task-checkbox{
                            input{
                                cursor: pointer;
                                outline: none;
                            }
                        }
                        .task-info{
                            display: flex;
                            flex-direction: column;
                            .task-due-date-stamp{
                                font-size: 0.8em;
                                margin-top: 0.5em;
                            }
                        }
                        .categ{
                            color: white;
                            background-color: coral;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-transform: uppercase;
                            font-size: 0.8em;
                            font-weight: 100;
                            margin: 0.4em;
                            border-radius: 5px;
                        }
                    }
                    li:hover{
                        background-color: lightskyblue;
                    }
                }
            }
        }
        .disabled{
            background: gray !important;
        }
        .selected{
            text-decoration: line-through;
        }
    }
    .task-controls{
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        font-size: 0.9rem;
        .task-filter>span{
            margin: 0 3px;
            cursor: pointer;
            transition: all 250ms;
        }
        .task-filter>span:hover{
            font-weight: bold;
        }
    }
}